@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;500;700&display=swap");

#root {
  margin: 0;
  font-size: 100%;
  --primary-color: #080d1a;
  --secondary-color: #312e81;
  --heading-color: #2bb98f;
  --btn-primary: #grey;
  --text-color-light: white;
  --text-color-dark: black;
}

* {
  font-family: "JetBrains Mono", monospace;
}
