/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,800;1,700&family=Poppins:wght@200;400;700;900&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400&family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,800;1,700&family=Poppins:wght@200;400;700;900&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&display=swap");

#root {
  margin: 0;
  font-size: 100%;
  --primary-color: #080d1a;
  --secondary-color: #312e81;
  --btn-primary: #grey;
  --text-color-light: white;
  --text-color-dark: black;
}
* {
  font-family: "Comic Neue ";
}
